{{> head }}
{{> navbar }}
  
<div class="row">
    <div class="col-8">
        <h1>Facebook Adds</h1>
        <p>
            Lorem ipsu hyuf mumi recostrep guy
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/imagen.PNG" class="img-thumbnail">
    </div>

</div>

{{>footer}}